.hvr-grow{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:transform;transition-property:transform}
.hvr-grow:active,.hvr-grow:focus,.hvr-grow:hover{-webkit-transform:scale(1.1);transform:scale(1.1)}
.hvr-wobble-vertical{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0)}
.hvr-wobble-vertical:active,.hvr-wobble-vertical:focus,.hvr-wobble-vertical:hover{-webkit-animation-name:hvr-wobble-vertical;animation-name:hvr-wobble-vertical;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:1;animation-iteration-count:1}
.hvr-forward{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:transform;transition-property:transform}
.hvr-forward:active,.hvr-forward:focus,.hvr-forward:hover{-webkit-transform:translateX(8px);transform:translateX(8px)}
.hvr-underline-from-center{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative;overflow:hidden}
.hvr-underline-from-center:before{content:"";position:absolute;z-index:-1;left:51%;right:51%;bottom:0;background:#2098d1;height:4px;-webkit-transition-property:left,right;transition-property:left,right;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.hvr-underline-from-center:active:before,.hvr-underline-from-center:focus:before,.hvr-underline-from-center:hover:before{left:0;right:0}
.hvr-grow-shadow{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:box-shadow,transform;transition-property:box-shadow,transform}
.hvr-grow-shadow:active,.hvr-grow-shadow:focus,.hvr-grow-shadow:hover{box-shadow:0 10px 10px -10px rgba(0,0,0,.5);-webkit-transform:scale(1.1);transform:scale(1.1)}
.hvr-underline-from-left{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative;overflow:hidden}
.hvr-underline-from-left:before{content:"";position:absolute;z-index:-1;left:0;right:100%;bottom:0;background:#2098d1;height:4px;-webkit-transition-property:right;transition-property:right;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.hvr-underline-from-left:active:before,.hvr-underline-from-left:focus:before,.hvr-underline-from-left:hover:before{right:0}
@-webkit-keyframes hvr-wobble-vertical{
16.65%{-webkit-transform:translateY(8px);transform:translateY(8px)}
33.3%{-webkit-transform:translateY(-6px);transform:translateY(-6px)}
49.95%{-webkit-transform:translateY(4px);transform:translateY(4px)}
66.6%{-webkit-transform:translateY(-2px);transform:translateY(-2px)}
83.25%{-webkit-transform:translateY(1px);transform:translateY(1px)}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes hvr-wobble-vertical{
16.65%{-webkit-transform:translateY(8px);transform:translateY(8px)}
33.3%{-webkit-transform:translateY(-6px);transform:translateY(-6px)}
49.95%{-webkit-transform:translateY(4px);transform:translateY(4px)}
66.6%{-webkit-transform:translateY(-2px);transform:translateY(-2px)}
83.25%{-webkit-transform:translateY(1px);transform:translateY(1px)}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
.hvr-wobble-vertical{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0)}
.hvr-wobble-vertical:active,.hvr-wobble-vertical:focus,.hvr-wobble-vertical:hover{-webkit-animation-name:hvr-wobble-vertical;animation-name:hvr-wobble-vertical;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:1;animation-iteration-count:1}
@-webkit-keyframes hvr-wobble-horizontal{
16.65%{-webkit-transform:translateX(8px);transform:translateX(8px)}
33.3%{-webkit-transform:translateX(-6px);transform:translateX(-6px)}
49.95%{-webkit-transform:translateX(4px);transform:translateX(4px)}
66.6%{-webkit-transform:translateX(-2px);transform:translateX(-2px)}
83.25%{-webkit-transform:translateX(1px);transform:translateX(1px)}
100%{-webkit-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes hvr-wobble-horizontal{
16.65%{-webkit-transform:translateX(8px);transform:translateX(8px)}
33.3%{-webkit-transform:translateX(-6px);transform:translateX(-6px)}
49.95%{-webkit-transform:translateX(4px);transform:translateX(4px)}
66.6%{-webkit-transform:translateX(-2px);transform:translateX(-2px)}
83.25%{-webkit-transform:translateX(1px);transform:translateX(1px)}
100%{-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes hvr-wobble-horizontal{
16.65%{-webkit-transform:translateX(8px);transform:translateX(8px)}
33.3%{-webkit-transform:translateX(-6px);transform:translateX(-6px)}
49.95%{-webkit-transform:translateX(4px);transform:translateX(4px)}
66.6%{-webkit-transform:translateX(-2px);transform:translateX(-2px)}
83.25%{-webkit-transform:translateX(1px);transform:translateX(1px)}
100%{-webkit-transform:translateX(0);transform:translateX(0)}
}
.hvr-wobble-horizontal{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0)}
.hvr-wobble-horizontal:active,.hvr-wobble-horizontal:focus,.hvr-wobble-horizontal:hover{-webkit-animation-name:hvr-wobble-horizontal;animation-name:hvr-wobble-horizontal;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:1;animation-iteration-count:1}
@-webkit-keyframes hvr-wobble-to-bottom-right{
16.65%{-webkit-transform:translate(8px,8px);transform:translate(8px,8px)}
33.3%{-webkit-transform:translate(-6px,-6px);transform:translate(-6px,-6px)}
49.95%{-webkit-transform:translate(4px,4px);transform:translate(4px,4px)}
66.6%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}
83.25%{-webkit-transform:translate(1px,1px);transform:translate(1px,1px)}
100%{-webkit-transform:translate(0,0);transform:translate(0,0)}
}
@-webkit-keyframes hvr-icon-pulse{
25%{-webkit-transform:scale(1.3);transform:scale(1.3)}
75%{-webkit-transform:scale(.8);transform:scale(.8)}
}
@keyframes hvr-icon-pulse{
25%{-webkit-transform:scale(1.3);transform:scale(1.3)}
75%{-webkit-transform:scale(.8);transform:scale(.8)}
}
.hvr-icon-pulse{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0)}
.hvr-icon-pulse .hvr-icon{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.hvr-icon-pulse:active .hvr-icon,.hvr-icon-pulse:focus .hvr-icon,.hvr-icon-pulse:hover .hvr-icon{-webkit-animation-name:hvr-icon-pulse;animation-name:hvr-icon-pulse;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes hvr-icon-pulse-grow{
to{-webkit-transform:scale(1.3);transform:scale(1.3)}
}
@keyframes hvr-icon-pulse-grow{
to{-webkit-transform:scale(1.3);transform:scale(1.3)}
}
.hvr-icon-pulse-grow{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0)}
.hvr-icon-pulse-grow .hvr-icon{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.hvr-icon-pulse-grow:active .hvr-icon,.hvr-icon-pulse-grow:focus .hvr-icon,.hvr-icon-pulse-grow:hover .hvr-icon{-webkit-animation-name:hvr-icon-pulse-grow;animation-name:hvr-icon-pulse-grow;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-direction:alternate}
@-webkit-keyframes hvr-icon-pulse-shrink{
to{-webkit-transform:scale(.8);transform:scale(.8)}
}
@keyframes hvr-icon-pulse-shrink{
to{-webkit-transform:scale(.8);transform:scale(.8)}
}
.hvr-icon-pulse-shrink{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0)}
.hvr-icon-pulse-shrink .hvr-icon{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.hvr-icon-pulse-shrink:active .hvr-icon,.hvr-icon-pulse-shrink:focus .hvr-icon,.hvr-icon-pulse-shrink:hover .hvr-icon{-webkit-animation-name:hvr-icon-pulse-shrink;animation-name:hvr-icon-pulse-shrink;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-direction:alternate}
.hvr-curl-top-right{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative}
.hvr-curl-top-right:before{pointer-events:none;position:absolute;content:'';height:0;width:0;top:0;right:0;background:#fff;background:linear-gradient(225deg,#fff 45%,#aaa 50%,#ccc 56%,#fff 80%);box-shadow:-1px 1px 1px rgba(0,0,0,.4);-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:width,height;transition-property:width,height}
.hvr-curl-top-right:active:before,.hvr-curl-top-right:focus:before,.hvr-curl-top-right:hover:before{width:25px;height:25px}